<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>
  <body class="container">

    <%- include('../partials/header'); %>

    <main>
      <div class="jumbotron">
        <h1>Estudos de NODE + EJS</h1>

        <h5 class="container-fluid" >Neste App estudo Node, EJS e uso estilização em BOOTSTRAP </h5>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae molestias deleniti hic deserunt numquam saepe nihil ea! Tempore numquam eos delectus aspernatur facilis nostrum, sed, ipsam tempora atque magnam reiciendis!</p>
      </div>

      <ul> 
        <% qualitys.forEach(function(quality){ %>

        <li>
          <strong><%= quality.title %></strong> <%= quality.message %>
        </li>

        <% })%>
     
      </ul>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>